body {
text-align: center;
margin:0;
font-family: 'Merriweather', serif;
}
.topcontainer {
position: relative;
 background-color:#E4F9F5;
  padding-top: 100px;
}
h1 {
  color: #66BFBF;
  margin-top: 50px;
  font-size: 90px;
  font-family: 'Sacramento', serif;


  display: block;
text-align: center;

}
h2{
  line-height:2;
  font-weight: normal;
  color : #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat',sans-serif;
}
h3{
  color:#66BFBF;
  font-family: 'Montserrat',sans-serif;

}
p{
  font-weight: bold;
  font-family: 'Montserrat',sans-serif;

}
.middlecontainer{

}
.bottom-container{

  margin:0;
  position: relative;
  height: 100px;
background-color: #11999E;
text-indent: 30px;
}
hr{
  background-color: white;
  border-color:grey;
border-style:none;
border-top-style: dotted;
height: 2px;
border-width:thick;
width: 35px;
}
.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right:300px;
  top: 50px;
}.bottom-cloud{
  position: absolute;
  left:400px;
  bottom:300px;
}
.pc{
width:25%;
float: right;
margin-left: 30px;

}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
line-height: 2;

}
.java-lang{
  width:25%;
float: left;

  margin-right: 25px;
}
.btn{
padding-bottom: 100px;
     background: #3D94F6;
     background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
     background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
     background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
     background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
     background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     color: #FFFFFF;
     font-family: Helvetica;
     font-size: 20px;
     font-weight: 100;
     padding: 10px;
     text-shadow: 1px 1px 20px #000000;
     border: solid #337FED 1px;
     text-decoration: none;
     display: inline-block;
     cursor: pointer;
     text-align: center;

}
